<library path="lib/libvrep_test">
  <class name="MyPlugin" type="vrep_test::MyPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A great user interface.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>XR1_VREP</label>
      <icon type="theme">system-help</icon>
      <statustip>XR1 plugin for demonstration</statustip>
    </qtgui>
  </class>
</library>